@using N6GraphClient.GraphQL
@page "/graphql-query"
@inject IN6GraphQLabClient glc

<PageTitle>GraphQL query lab</PageTitle>

<h1>GraphQL query lab</h1>

<MySubscriptionWidget />

<button @onclick=HandleClick>query from N6GraphQLab</button>

@if (f_loading)
{
  <p>loading...</p>
}

<p>@message</p>

<h6>theBook</h6>
<pre>
  @System.Text.Json.JsonSerializer.Serialize(theBook, jsonOptions)
</pre>

@code {
  //## Resource
  System.Text.Json.JsonSerializerOptions jsonOptions = new System.Text.Json.JsonSerializerOptions
  {
    WriteIndented = true,
    Encoder = System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping
  };

  //## State
  string message = "喂";
  bool f_loading = false;

  IGetBook_Book? theBook = null;

  async Task HandleClick()
  {
    message = string.Empty;
    f_loading = true;

    var result = await glc.GetProductList.ExecuteAsync();
    //result.EnsureNoErrors();

    foreach (var item in result.Data!.ProductList)  
      message += item.Name + "; ";

    var result2 = await glc.GetBookList.ExecuteAsync();

    foreach (var item in result2.Data!.BookList)
      message += item.Title + "; ";

    var result3 = await glc.GetBook.ExecuteAsync("SOAP");
    theBook = result3.Data?.Book;
    
    message += " 作者之一: " + (theBook?.Author?.Name ?? "nil");

    f_loading = false;
  }
}
